.form-page {
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

.form-window {
  max-width: 400px;
  width: 100%;
  padding: 40px;
}

.login-button {
  margin-top: 30px;
}